.bs-docs-section.test-job-form
  .row
    .col-md-offset-2.col-lg-8
      .well.bs-component
        = form_for job, html: { class: 'js-form material-form' } do |f|
          = hidden_field_tag :token, params[:token]
          .form-group
            .form-control-wrapper
              = f.text_field :title, class: 'form-control input-lg', required: :required
              .floating-label Job Title

          .form-group
            .form-control-wrapper
              = f.select :job_type, Job::TYPES, {}, class: 'form-control'

          .form-group
            .form-control-wrapper
              = f.text_field :company_name, class: 'form-control', required: :required
              .floating-label Company Name

          .form-group
            .form-control-wrapper
              = f.text_field :company_url, class: 'form-control'
              .hint e.g. http://example.com
              .floating-label Website URL

          .form-group
            .form-control-wrapper
              = f.text_field :email, type: :email, class: 'form-control', required: :required
              .hint We'll need this to send the receipt
              .floating-label Email


          .form-group
            .form-control-wrapper
              = f.text_area :description, class: 'form-control', rows: 7, required: :required
              .hint Explain what the job entails
              .floating-label Description

          .form-group
            .form-control-wrapper
              = f.text_area :employees_in, class: 'form-control', rows: 5
              .hint Tell a bit about the existing employees and where they work from. This gives more confidence to the applicant and can be a great selling point.
              .floating-label Location of existing employees

          .form-group
            .form-control-wrapper
              = f.text_area :how_to_apply, class: 'form-control', rows: 3, required: :required
              .floating-label How To Apply


          .form-group.text-center
            = f.submit "Preview", class: 'btn btn-primary'
            = f.submit "Save and Continue", class: 'btn btn-success'

