%tr
  %td
    .img-div
      %img{:src => "http://localhost:3000/assets/ellipse-1.png", class: "home-img"}/
  %td.description
    %span.home-job-title
      = link_to job.title, job
    %span.home-job-city
      | 
      = job.location
    %span.home-job-company
      = job.company_name
      - if params[:controller] == 'admin_jobs'
        %p
          = link_to "Edit", edit_job_path(job, token: job.token)
          = link_to "Delete", admin_job_path(job), method: :delete, class: 'text-warning', data: { confirm: "Delete?" }
  %td.home-date
    %span.date
      = "#{job.created_at.strftime('%B %e')}"




