!!!
%html
  %head
    %title Remote Ruby on Rails jobs
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .header.container
      .row
        %h1.text-center
          = link_to "RailsRemote.com", root_path
          %small Remote Ruby on Rails jobs
      .row
        .col-md-offset-1.col-md-10
          = link_to "Post a New Job", new_job_path, class: 'pull-right post-new'


    .container
      - flash.each do |name, message|
        - type = name.to_s == 'notice' ? 'success' : 'error'
        = render 'shared/alert', type: type, highlight: '', text: message
      = yield
