!!!
%html
  %head
    %title Remote Ruby on Rails jobs
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .header.container
      .row
        .col-md-offset-1.col-lg-10
          .pull-right
            = link_to "Post a New Job", new_job_path
          %h1.text-center
            = link_to "RailsRemote.com", root_path
            %small Remote Ruby on Rails jobs


    .container
      - flash.each do |name, message|
        - type = name.to_s == 'notice' ? 'success' : 'error'
        = render 'shared/alert', type: type, highlight: '', text: message
      = yield
